/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import normalize
@import bourbon/bourbon
@import neat/neat


$dark: #43454A

*
  @include box-sizing(border-box)
  -webkit-font-smoothing: antialiased

body
  margin: 0
  font-family: 'PT Sans Narrow', sans-serif

header[role="upper"]
  @include fill-parent
  background: $dark

  .nav-container
    @include outer-container(960px)

    a
      color: #fff
      text-decoration: none
    
    h1.logo
      @include span-columns(3)
      text-transform: uppercase
      font-size: 1.3rem
      letter-spacing: 5px

    ul li
      list-style: none
      float: left


    nav
      @include span-columns(6)
      padding-top: 1px
      visibility: hidden

      ul li
        margin-right: 25px

        a
          font-weight: 700
          font-size: 1.05rem

        a:hover
          text-decoration: underline


    .support
      @include span-columns(3)

      ul
        padding-top: 2px
        
        li
          margin-right: 15px

          a
            opacity: .7

            &.phone
              font-weight: 700
              font-size: .8rem

          a i
            font-size: .85rem
    
section
  @include outer-container(960px)
  color: darken($dark, 5%)

  article
    @include span-columns(6)
    text-align: center
    margin-top: 30px
    
    h1
      font-size: 2.6rem

    a.order
      margin-top: 30px
      display: inline-block
      background: darken(#43B5EA, 8%)
      padding: 10px 20px
      text-transform: uppercase
      font-weight: 700
      text-decoration: none
      color: #fff
      border-radius: 4px
    
  aside
    @include span-columns(6)
    margin-top: 35px
    text-align: center
    img
      width: 90%
      margin-top: 30px

      
footer
  @include fill-parent
  margin-top: 60px
  padding-bottom: 80px
  padding-top: 10px
  background: #E1E7E9

  .nav-container
    @include outer-container(960px)

    a
      color: #6A7475
      text-decoration: none
    
    h1.logo
      @include span-columns(3)
      text-transform: uppercase
      font-size: 1.3rem
      letter-spacing: 5px

    ul li
      list-style: none
      float: left


    nav
      @include span-columns(6)
      padding-top: 1px
      visibility: hidden

      ul li
        margin-right: 25px

        a
          font-weight: 400
          font-size: 1.05rem

        a:hover
          text-decoration: underline


    .support
      @include span-columns(3)

      ul
        padding-top: 2px
        
        li
          margin-right: 15px

          a
            opacity: .7

            &.phone
              font-weight: 700
              font-size: .8rem

          a i
            font-size: .85rem


