doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    section.hero
      article
        header
          h1 We transcribe your audio files for 75 cents a minute
        img(src='img/stats.png', width='413', height='auto')
        br
        a.order(href="order.html") Order Now
      aside
        img(src='http://media02.hongkiat.com/faster-keyboard-typing/faster-typist.jpg')
    section
      br
      br
      br
      img(src='img/press.png')
    section
      br
      br
      br
      br
      br
      img(src='img/steps.png')
    section
      br
      br
      br
      img(src='img/testimonials.png')
    include ./includes/foot.jade
