doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    section.hero
      article
        header
          h1 The best audio transcription. Period.
        img(src='img/stats.png', width='549', height='auto')
        br
        a.order(href="order.html") Get Started Free!
    section.steps
      img(src='img/steps.png')
    section.press
      img(src='img/press.png')
    section.testimonials
      img(src='img/testimonials.png')
    include ./includes/foot.jade
    include ./includes/plugins.html
