footer
  .nav-container
    h1.logo: a(href='#') Transcriba
    nav
      ul
        li: a(href='#') Examples
        li: a(href='#') How it Works
        li: a(href='#') FAQ
        li: a(href='#') Order
        li: a(href='#') Contact
    .support
      ul
        li: a(href='#'): i.fa.fa-envelope
        li: a(href='#'): i.fa.fa-comment
        li: a(href='#'): i.fa.fa-phone
        li: a.phone(href='#') 1 800 445-352


