header(role='upper')
  .nav-container
    .logo-support-container
      h1.logo: a(href='#') Transcriba
      ul
        li: a(href='mailto:support@transcriba.com' alt='Email support'): i.fa.fa-envelope
        li: a(href='#' onclick='olark("api.box.expand")' alt='Chat with support'): i.fa.fa-comment
        li
          i.fa.fa-phone
          span.phone +1 (800) 645-5978
    nav
      ul
        li: a(href='#') Examples
        li: a(href='#') How it Works
        li: a(href='#') FAQ
        li: a(href='#') Order
        li: a(href='#') Contact



